<header class="p-2 bg-blue-500">
  <nav class="flex items-center">
    <%= link_to image_tag("logo.png"), root_path %>
    <ul class="ml-4 text-white font-semibold space-x-3">
      <li>
        <%= link_to "All Movies", movies_path %>
      </li>
    </ul>
  </nav>
</header>